
@{
    ViewBag.Title = "Chỉnh sửa hàng hoá";
}

<h1 style="padding-top:2%;text-align:center;">
    Chỉnh sửa thông tin hàng hoá
</h1>
<hr />

<div class="container1">
    <div class="image">
        <img src="@Url.Content("~/images/goods.png")" width="180" height="180" />
    </div>

    <div id="options">
        <input class="btn btn-default" type="button" value="Danh mục" onclick="location.href='@Url.Action("Index", "Departments")'" />
        <input class="btn btn-default" type="button" value="Sản phẩm" onclick="location.href='@Url.Action("Index", "Items")'" />
    </div>
</div>
